:root{
  --primary: #fafafa;
  --secondary: #1a1a1a;
}
*{box-sizing:border-box}

html,body{height:100%}

body{
  margin:0;
  font-family: monospace;
  font-weight: 500;
  font-size: 0.75rem;
  height: 100lvh;
  overflow: hidden;
}
.container{
  width:100%;
  height: 100%;
}
.bg-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100lvh;
    z-index: -1;
    .blur-bg{
      position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(6px);
        background-color: #1a1a1a33;
      }
      .bg{
        height: 100vh;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
.main-container{
    max-width:420px;
    height: 100%;
    color: var(--secondary);
    margin: auto;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}

.main-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profile{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--primary);
  .p-container{
    width: 100%;
    display: flex;
    justify-content: end;
    p{
      display: flex;
      justify-content: end;
      text-align: end;
      width: 80px;
    }
  }
  h1{
    width: 80px;
    font-size: 0.75rem;
}}

.links-container{
  background-color: var(--primary);
  padding: 1.25rem 1.25rem 0 1.25rem;
  position: relative;
}

.links{
  padding: 0 0 8rem 0;
  display:flex;
  flex-direction:column;
  gap:0.4rem;
}
.link-card{
  display:block;
  text-decoration:none;
  color:inherit;
  display: flex;
  align-items: center;
  .line{
    width: 5rem;
    height: 2px;
    background-color: var(--secondary);
  }
}
.link-content h3{
  font-family: "Times New Roman", serif;
  font-weight: 500;
  margin:0;
  font-size:3rem; 
  letter-spacing: -2px;  
  line-height: 75%; 
  text-transform: uppercase;
  font-style: italic;
}
  
  .bio-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  .bio-img{
    width: 100%;
    height: 100%;
    img{
      aspect-ratio: 1/0.5;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.rights-container{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.star{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}
.star .star-inner{
  position: relative;
  width: 20px;
  height: 20px;
}
.star .star-line{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: var(--secondary);
  transform: translate(-50%, -50%);
}
.star .line2{ transform: translate(-50%, -50%) rotate(45deg); }
.star .line3{ transform: translate(-50%, -50%) rotate(90deg); }
.star .line4{ transform: translate(-50%, -50%) rotate(135deg); }